<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HistoQuiz"
        tools:targetApi="31">
        <activity
            android:name=".congrats_page"
            android:exported="false" />
        <activity
            android:name=".q5_sistempersekutuan"
            android:exported="false" />
        <activity
            android:name=".q4_sistempersekutuan"
            android:exported="false" />
        <activity
            android:name=".q3_sistempersekutuan"
            android:exported="false" />
        <activity
            android:name=".q2_sistempersekutuan"
            android:exported="false" />
        <activity
            android:name=".q1_sistempersekutuan"
            android:exported="false" />
        <activity
            android:name=".q5_pilihanraya"
            android:exported="false" />
        <activity
            android:name=".q4_pilihanraya"
            android:exported="false" />
        <activity
            android:name=".q3_pilihanraya"
            android:exported="false" />
        <activity
            android:name=".q2_pilihanraya"
            android:exported="false" />
        <activity
            android:name=".gameover"
            android:exported="false" />
        <activity
            android:name=".q1_pilihanraya"
            android:exported="false" />
        <activity
            android:name=".QuestionPackage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>